# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
venv/
env/
.venv/

# Git & version control
.git/
.gitignore

# Logs
*.log

# IDE/editor configs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Large media / test data
*.mp3
*.wav
*.mp4
*.avi
*.mkv
*.zip
*.tar
*.tar.gz
*.tgz
*.rar

key.json
